.my-search-delete {
	width: 18rem;
	height: 8rem;
	background: #fff;
	position:  absolute;
	top: 50%;
	left: 50%;
	margin: -4rem 0 0 -9rem;
	border-radius: 1rem;
	text-align: center;
	z-index: 1000;
	overflow: hidden;
}
.my-search-delete-title {
	line-height: 5rem;
	border-bottom: 1px solid #f7f7f7;
	color: #222;
	font-size: .8rem;
}
.my-search-delete-btn {
	width: 50%;
	float: left;
	line-height: 3rem;
}
.delete-sure  {
	background: #f43636;
	color: #fff;
}
.delete-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	background: black;
	top: 0;
	opacity: .5;
	z-index: 999;	
}